@import "../../vars.scss";
header{
    background-color: $base-color;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    width: 100%;
    color: white;
    margin-bottom: 50px;
    .nav-logo a {
        color: white;
    }
    .nav-logo{
        float: left;
        padding: 8px 16px;
        display: block;
        
    }
    .nav-section{
        float: right;
        color: white;
        .nav{
            .nav-item{
                .nav-link{
                    color: white;
                }
            }
        }
    }
}