.signup-area{
    background-color: #525252;
    padding: 20px;
    border-radius: 14px;
    max-width: 601px;
    margin-top: 20px;
    margin: 0 auto;
    form{
        .form-group{
            label{
                font-weight: 500;
            }
        }
    }
    .nav{
        display: block;
        .nav-item{
            display: inline-block;
        }
    }
}