<!DOCTYPE html>

<html>

<head>
    <title>Task-Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    
</head>

<body>
<div class="container">
    {{>header}}
    <h1 class="display-3">Task-Manager</h1>
    <p>Please select from the nav bar above.</p>
</div>


</body>

</html>