<!DOCTYPE html>

<html>

<head>
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css" type="text/css">
    
</head>

<body class="dark-mode">
    {{>homeheader}}
<div class="container dark-mode">
    <div class="center">
        <h1 class="title">Hi there.</h1>
        <h4>We noticed you don't have an account, please create an account</h4>
                <a class="nav-link btn single" href="/signup">Sign Up</a>
    </div>

</div>



</body>

</html>