<!DOCTYPE html>
<head>
    <script>
        function clickyClick() {
            url = '/users/' + document.getElementById("comment").value +'/profile'
            window.open(url, '_blank');
        }             
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
    <div class="container">
        {{>header}}
        <h1 class="display-3">User Search</h1>
        <p>Please input your unique ID</p>


        {{!-- <form>User ID:
            <div class="input-group-prepend">
                <input type="text" name="comments" id="comment">
            </div>
        </form>
        <a href=http://localhost:3000/users/ target="_blank"></a>
        <button onclick="clickyClick()">Search</button> --}}

        <div class="input-group mb-3">
            <input type="text" class="form-control" name="comments" id="comment" placeholder="Users ID:" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <a href=/users/ target="_blank"></a>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="clickyClick()">Search</button>
            </div>
        </div>
    </div>
</body>