<!DOCTYPE html>

<html>

<head>
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


    
 
</head>

<body class="dark-mode">
    {{>header}}
<div class="container dark-mode">
    <div class="center dark-mode">
        <h4>Please fill in the following form</h4>
    </div>
    <div class="signup-area">
        <form>
            {{>emailaddress}}
            {{>form1to2}}
            {{>dateofbirth}}
            
            {{>phonenumber}}
            {{>password1}}
            {{>password2}}
            {{>submit}}
            
            
            <!--
                I need to look at the following:
                1. Address input - i could ruin this by randomising
                 the order of the the forms with each keypress.
                2. create password - i could ruin this by having a stupid 
                amount of different requirements
                3. create account button - i could ruin this by making it
                 change location on hover
                3.1 do i include a captcha?!
                4. rick roll the user somehow

             -->
        </form>
                <button class="nav-link  back btn" id="button-back">Back</button>
                <button class="nav-link  next btn" id="button-next" onclick="hideNextBtn()">Next</button>

        </div>
        {{>passwordCriteria}}
        
</div>


    <script type="text/javascript" src="../../texthelper.js"></script>    
    <script type="text/javascript" src="../../signup.js"></script>
    <script type="text/javascript" src="../../passwords.js"></script>
</body>

</html>