<div class="form-group" id="form-6">
  <input type="street" 
         class="form-control" 
         id="autocomplete" 
         placeholder="Street">
         <a class="auth" id="auth-1">X</a>
  
  <input type="city" 
         class="form-control" 
         id="inputCity" 
         placeholder="City">
         <a class="auth" id="auth-1">X</a>
  
  <input type="postcode" 
         class="form-control" 
         id="inputPostcode" 
         placeholder="Postcode">
         <a class="auth" id="auth-1">X</a>
  
  <input type="county" 
         class="form-control" 
         id="inputCounty" 
         placeholder="County">
         <a class="auth" id="auth-1">X</a>
  
  <input type="country" 
         class="form-control" 
         id="inputCountry" 
         placeholder="Country">
         <a class="auth" id="auth-1">X</a>
</div>