<div class="form-group" id="form-6">
  <input type="street" 
         class="form-control" 
         id="autocomplete" 
         placeholder="Street">
  
  <input type="city" 
         class="form-control" 
         id="inputCity" 
         placeholder="City">
  
  <input type="postcode" 
         class="form-control" 
         id="inputPostcode" 
         placeholder="Postcode">
  
  <input type="county" 
         class="form-control" 
         id="inputCounty" 
         placeholder="County">
  
  <input type="country" 
         class="form-control" 
         id="inputCountry" 
         placeholder="Country">
</div>