{{!-- <div class="form-group" id="form-6">
  <input type="street" 
         class="address form-control" 
         id="inputStreet"
         onchange="adressFun" 
         placeholder="Street">
         <a class="auth" id="auth-1">X</a>
  
  <input type="city" 
         class="address form-control" 
         id="inputCity" 
         onchange="adressFun" 
         placeholder="City">
         <a class="auth" id="auth-1">X</a>
  
  <input type="postcode" 
         class="address form-control" 
         id="inputPostcode" 
         onchange="adressFun" 
         placeholder="Postcode">
         <a class="auth" id="auth-1">X</a>
  
  <input type="county" 
         class="address form-control" 
         id="inputCounty" 
         onchange="adressFun" 
         placeholder="County">
         <a class="auth" id="auth-1">X</a>
  
  <input type="country" 
         class="address form-control" 
         id="inputCountry"
         onchange="adressFun"  
         placeholder="Country">
         <a class="auth" id="auth-1">X</a>
</div> --}}