<div class="form-group" id="form-4">
    <div class="DDD-dob">
        <h3>DDD</h3>
        <span id="day"></span>
        <div class="slidecontainer">
            <input type="range" min="1" max="365" value="1" class="slider" onchange="dobValidation()" id="dayRange">
        </div>
    </div>
    <div class="YYYY-dob">
        <h3>YYYY</h3>
        <span id="year"></span>
        <div class="slidecontainer">
            <input type="range" min="1920" max="2020" value="1990" class="slider" onchange="dobValidation()" id="yearRange"> 
            
        </div>
    </div>
    <a class="auth" id="auth-4">●</a>
</div>

