<div class="form-group" id="form-3">
    <label for="emailaddress">Email address</label>
    <small id="emailHelp" class="form-text">We'll share your email with anyone.</small></br>
    {{!-- <input class="form-control" id="emailInput"  placeholder="Enter Email"> --}}
    <div class="email-group">
        <input type="button"  onclick="i++; console.log(i)" class="btn" id="email-1" value="A"></input>
    </div>
    <a class="auth" id="auth-email">X</a>
</div>