<div class="form-group" id="form-3">
    <label for="emailaddress">Email address</label>
    <small id="emailHelp" class="form-text">We'll share your email with anyone.</small></br>
    {{!-- <input class="form-control" id="emailInput"  placeholder="Enter Email"> --}}
    <div class="email-group">
        <input type="button"  onclick="btnLetterSwitch(this.id)" class="btn letterbtn" id="email-1" value="A"></input>
        <input type="button"  onclick="btnLetterSwitch(this.id)" class="btn letterbtn" id="email-2" value="A"></input>
        <input type="button"  onclick="btnLetterSwitch(this.id)" class="btn letterbtn" id="email-3" value="A"></input>
        <input type="button" onclick="moreLetters()" id="moreletters" class="btn" value="+">
        <input type="button" onclick="lessLetters()" id="moreletters" class="btn" value="-">
    </div>
    
    <input id="email-built">
    <a class="auth" id="auth-email">X</a>
</div>