<div class="form-group" id="form-1">
    <label for="firstNameInput">First Name:</label></br>
    
    <input id="firstNameInput" onkeypress="nameValidation(this.id)"  class="form-control"  placeholder="Enter First Name" name="firstName">

    <a class="auth" id="auth-1">●</a>
    <small class="form-text">Please don't write thingy</small>
</div>
<div class="form-group" id="form-2">
    <label for="lxastname">Last Name:</label></br>
    <input class="form-control" id="lastNameInput"  placeholder="Enter Last Name" onkeypress="nameValidation(this.id)">
    <a class="auth" id="auth-2">●</a>
    <small class="form-text">Please don't write thingy</small>
</div>
