<header>
    <a class="nav-logo">i'd put a logo here</a>
    <div class="nav-section">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profileSearch">Search</a>
            </li>
        </ul>
    </div>
</header>