<header>
    <a class="nav-logo">i'd put a logo here</a>
    <div class="nav-section">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/signup" disabled>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup" disabled>Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="/signup" disabled>Login</a>
            </li>
        </ul>
    </div>
</header>