<div class="form-group" id="form-7">
    <div>
        <label for="pass">Password (8 characters minimum):</label></br>
        <input type="password" id="pass" name="password" minlength="8">
    </div>
</div>