<div class="form-group" id="form-7">
    <div>
        <label for="pass">Confirm Password:</label></br>
        <input type="password" id="retypepsw" name="password" onchange="isPasswordMatch();">
        <p id="#divCheckPassword">Please enter the password you previously entered</p>
    </div>
</div>